<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.sprintboot002.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.accp.sprintboot002.pojo.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stuCode" property="stucode" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="DATE" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM record
  </select>
  <select id="selectByCode" resultMap="BaseResultMap">
    SELECT * FROM record WHERE stuCode=#{code}
  </select>
  <sql id="Base_Column_List" >
    id, name, stuCode, createDate, createBy, des
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.sprintboot002.pojo.Record" >
    insert into record (id, name, stuCode, 
      createDate, createBy, des
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{stucode,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=DATE}, #{createby,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.sprintboot002.pojo.Record" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="stucode != null" >
        stuCode,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="des != null" >
        des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stucode != null" >
        #{stucode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.sprintboot002.pojo.Record" >
    update record
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stucode != null" >
        stuCode = #{stucode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=DATE},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.sprintboot002.pojo.Record" >
    update record
    set name = #{name,jdbcType=VARCHAR},
      stuCode = #{stucode,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=DATE},
      createBy = #{createby,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>